<div style="text-align:center">
  <h1> Ma visionneuse Flickr </h1>
</div>
<div> {{ copyright }} </div>
<label> Mot clé: </label> : <input [(ngModel)]="tag" placeholder="mot clé..." (change)="nouveau_mot_cle()" />
<div> Nombre total de photos : {{ photos?.total }} </div>
<div> Liste des photos </div>
<ul>
  <li *ngFor="let photo of photos?.photo"> <img (click)="photo_courante=photo" class="thumb"
      [src]="getPhotoUrl(photo)" /> {{ photo.title }}
    </li>
  </ul>
  <div class="fixed">
    <app-photo [photo]="photo_courante"></app-photo>
  </div> 