.histoireStyle {
    text-align: justify;
    border-color: red;
    border-style: solid;
    background-color:#BBBBBB;
    }

.test {
    color: red
}

.Homme {
    color: blue
}

.Femme {
    color: pink
}